<body>
    <div class="main">
        <div class="leftcont">
            <div class="top">
                <div class="pulselist">

                </div>
                <div class="uploads">

                </div>
            </div>
            <div class="Djlist">
                <div class="category">

                </div>
                
                <div class="list">

                </div>

            </div>

        </div>

        <div class="rightcont">

        </div>
    </div>

</body>











<router-outlet></router-outlet>

