<div class="nav">
  <div class="logo">
    <img src="../../assets/heading Logo copy.png" alt="" class="logo">
  </div>
</div>
<div class="profilecontainer">
  <div class="leftside">
    <div class="seglist">
        <li class="item lactive">Music</li>
        <li class="item">Comments</li>
        <li class="item">Interactions</li>
    </div>

    <p class="djname">Dj Ntonton</p>
    <p class="city">Naledi, Johannesburg</p>

    <div class="buttonlist">
      <button class="message">Message User</button>
      <button class="remove">Remove User</button>
    </div>

    <div class="cardlist">
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rightside">right</div>
</div>

<div class="list">
  l
</div>