<div class="nav">
  <div class="logo">
    <img src="../../assets/heading Logo copy.png" alt="" class="logo">
  </div>
</div>
<div class="profilecontainer">
  <div class="leftside">

    <div class="backcontainer">
      <p class="back" (click)="navigate('home')"> <span><i class="fas fa-angle-left"></i> </span> back </p>
    </div>
    <p class="djname">{{object.fullname}}</p>
    <p class="city">{{object.city}}</p>

    <div class="buttonlist">
      <!-- <button class="message">Message User</button> -->
      <button class="remove" (click)="remove()">Remove User</button>
    </div>
    <div class="seglist">
      <li class="item" [class.lactive]="seg == 'music'" (click)="seg = 'music'; ">Music</li>
      <li class="item" [class.lactive]="seg == 'comments'" (click)="seg = 'comments'; ">Comments</li>
      <li class="item" [class.lactive]="seg == 'profile'" (click)="seg = 'profile'; ">Profile</li>
    </div>

    <div class="cardlist" *ngIf="seg == 'music'">
      <div class="card"  *ngFor="let b of musicArr"> 
        <img [src]="object.img" alt="" class="art">
        <div class="text">
          <p class="artist">{{b.MusicName}}</p>
          <p class="track">{{b.name}}</p>
        </div>
      </div>
    </div>

    <div class="cardlist" *ngIf="seg == 'comments'">
      
      <div class="chatBubble" *ngFor="let p of CommentArr; let i = index; let odd = 'left'; let even = 'right'">
        <!-- <img class="profile-pic even" src="{{n.pic}}"> -->
        <div class="chat-bubble left">
            <div class="message">{{p.comment}}</div>
            <div class="message-detail">
                <span style="font-weight:bold;">{{p.name}} </span>,
                <span>{{p.date}}</span>
            </div>
        </div>
    </div>

    <div class="block">&nbsp;</div>
      
      <!-- <div class="commentcard"  *ngFor="let p of CommentArr">
        <p>{{p.name}}</p>
        <p>{{p.comment}}</p>
        <p>{{p.date}}</p>
      </div> -->
    </div>

    <div class="cardlist" *ngIf="seg == 'profile'">
      <p class="bio">{{object.bio}}</p>
    </div>
  </div>
  <div class="rightside" 
  [ngStyle]="{
    'background-image': 'url('+ object.img +')',
    'background-size': 'cover',
    'background-position': 'center'
  }"
  ></div>

  <div class="warncontainer" *ngIf="delwarn == 'true'">
      <div class="alertbox" (click)="delwarn = 'false'">
        <img src="../../assets/thinking.svg" alt="" class="alertimg">
        <div class="messagebox">
          <p class="alertmessagehead">Whoa, Hey There...</p>
          <p class="alertmessage">Do You Really Want To Remove: "{{object.fullname}}"?</p>
          <button class="alertbutton" (click)="delwarn = 'false'">Nah</button>
          <button class="alertbutton" (click)="delwarn = 'false'">Okay</button>
        </div>
      </div>
    </div> 
</div>


<!-- <div class="list">
  l
</div> -->