<div class="nav">
  <div class="logo">
    <img src="../../assets/heading Logo copy.png" alt="" class="logo">
  </div>
</div>
<div class="profilecontainer">
  <div class="leftside">


    <p class="djname">Dj Ntonton</p>
    <p class="city">Naledi, Johannesburg</p>

    <div class="buttonlist">
      <button class="message">Message User</button>
      <button class="remove">Remove User</button>
    </div>
    <div class="seglist">
      <li class="item" [class.lactive]="seg == 'music'" (click)="seg = 'music'; ">Music</li>
      <li class="item" [class.lactive]="seg == 'comments'" (click)="seg = 'comments'; ">Comments</li>
      <li class="item" [class.lactive]="seg == 'profile'" (click)="seg = 'profile'; ">Profile</li>
    </div>

    <div class="cardlist" *ngIf="seg == 'music'">
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/Apps-Player-Audio-B-icon.png" alt="" class="art">
        <div class="text">
          <p class="artist">Dj Ntonton feat. Mojojos Gamede</p>
          <p class="track">Khon' O Zo Lahla</p>
        </div>
      </div>
    </div>

    <div class="cardlist" *ngIf="seg == 'comments'">
      <p class="text" style="color: white">Comments go here</p>
    </div>

    <div class="cardlist" *ngIf="seg == 'profile'">
      <p class="text" style="color: white">Bio goes here</p>
    </div>
  </div>
  <div class="rightside"></div>
</div>


<!-- <div class="list">
  l
</div> -->