<div class="container">
  <div class="nav">
    <div class="logo">
      <img src="../../assets/heading Logo copy.png" alt="" class="logo">
    </div>
  
  </div>
  
  <div class="content">
    <div class="seperator">
      <div  class="leftcontent">
        <div  class="cardrow">
          <div  class="card">
            <div class="titlecontainer">
              <h1 class="title">Pulse DJs</h1>
              <p class="number">45</p>
            </div>
          </div>
          <div class="card">
            <div class="titlecontainer">
              <h1 class="title">Users</h1>
              <p class="number">55</p>
            </div>
          </div>
        </div>
        <div class="djlist">
          <div class="genlist">
            <a class="genre" [class.active]="page == 'allDjs'" (click)="page = 'allDjs'; " >All</a>
            <a class="genre" [class.active]="page == 'commercial'"  (click)="page = 'commercial'">Commercial</a>
            <a class="genre" [class.active]="page == 'deephouse'" (click)="page = 'deephouse';">Deep House</a>
            <a class="genre" [class.active]="page == 'edm'" (click)="page = 'edm';">EDM</a>
            <a class="genre" [class.active]="page == 'rnb'" (click)="page = 'rnb';">R & B</a>
            <a class="genre" [class.active]="page == 'hiphop'" (click)="page = 'hiphop'">Hip Hop</a>
            <select class="genderselect" name="gender">
              <option class="option" value="" selected disabled>Gender</option>
              <option class="option" value="male">Male</option>
              <option class="option" value="female">Female</option>
            </select>
            <!-- <div class="gendercontainer">
                <button class="gender">Gender</button>
                <div class="gendericons">
                  <div class="personcont">
                      <button class="person"><i class="fas fa-male"></i></button> <label class="genderlabel">Male</label>
                  </div>
                  <div class="personcont">
                      <button class="person"><i class="fas fa-female"></i></button> <label class="genderlabel">Female</label>
                  </div>
                </div>
            </div> -->

          </div>
  
          <div class="avatarcnt" *ngIf="page == 'allDjs'">
              <div *ngFor="let x of DjProfiles" class="avatar">
                  <img  (click)="DisplayInfor(x)" src="{{x.img}}" alt="" class="avatar__image">
                  <div class="avatar__textcontainer">
                    <p class="avatar__textcontainer--name">{{x.fullname}}</p>
                    <p class="avatar__textcontainer--category">{{x.genre}}</p>
                  </div>
              </div>
            </div>
          <div class="avatarcnt" *ngIf="page == 'commercial'">
            <div  *ngFor="let x of houseDjs" class="avatar">
                <img (click)="DisplayInfor(x)"  src="{{x.img}}" alt="" class="avatar__image">
                <div class="avatar__textcontainer">
                  <p class="avatar__textcontainer--name">{{x.fullname}}</p>
                  <p class="avatar__textcontainer--category">{{x.genre}}</p>
                </div>
            </div>
          </div> 
          <div class="avatarcnt" *ngIf="page == 'hipHop'">
              <div *ngFor="let x of hipHopDjs" class="avatar">
                  <img (click)="DisplayInfor(x)"  src="{{x.img}}" alt="" class="avatar__image">
                  <div class="avatar__textcontainer">
                    <p class="avatar__textcontainer--name">{{x.fullname}}</p>
                    <p class="avatar__textcontainer--category">{{x.genre}}</p>
                  </div>
              </div>
            </div>
          
        </div>
  
      </div>
      <div class="rightcontent">
        <img [src]="img" alt="" class="displaypic">
        <p class="stagename" *ngIf="stagename == ''">No Profile Selected</p>
        
        <p class="stagename" *ngIf="stagename != ''">{{stagename}}</p>
        <p class="fullname" *ngIf="fullname != ''">{{fullname}}</p>
        <p class="city" *ngIf="city != ''">{{city}}</p>

        <p class="bio">
         {{bio}}
        </p>

        <!-- <p class="head">Views</p>
        <p class="number">23</p>
        <p class="head">Interactions</p>
        <p class="number">23</p>
        <p class="head">Comments</p>
        <p class="number">23</p> -->

        <button  (click)="ViewProfile()" *ngIf="stagename != ''" class="more">View Profile</button>

      </div>
    </div>
  
  </div>
  
</div>
