<div class="nav">
  <div class="logo">
    <img src="../../assets/logodd.png" alt="" class="logo">
    <p class="name"><span class="prefix">Puls</span><span class="eight">8</span></p>
  </div>

</div>

<!-- <div class="bodd">
  <h1>House Dj's</h1>
  <div>
    <div class="info" *ngFor="let x of houseDjs"    (click)="showinfo(x)">
        bio: {{x.bio}}
        <br>
        <br> email: {{x.email}}
        <br>
        <br> city: {{x.city}}
        <br>
        <br> fullname: {{x.fullname}}
        <br>
        <br> gender: {{x.gender}}
        <br>
        <br> payment: {{x.payment}}
        <br>
        <br> price: {{x.price}}
        <br>
        <br> stagename : {{x.stagename}}
      </div>
  </div>

</div>
<div>
  <h1>Hip-Hop Dj's</h1>
  <div>
    <div class="info" *ngFor="let x of hipHopDjs"   (click)="showinfo(x)">
        bio: {{x.bio}}
        <br>
        <br> email: {{x.email}}
        <br>
        <br> city: {{x.city}}
        <br>
        <br> fullname: {{x.fullname}}
        <br>
        <br> gender: {{x.gender}}
        <br>
        <br> payment: {{x.payment}}
        <br>
        <br> price: {{x.price}}
        <br>
        <br> stagename : {{x.stagename}}
      </div>
  </div>

</div> -->
